.card {
    width: 100%;
    position: relative;
    background-color: $white;
    padding: $space-3;
    border-radius: $radius-sm;
}

.review {
    font-size: $font-sm;
    color: $foreground-muted;
    padding: $space-2;
}
