.ctaSection {
    padding: $space-9 0;
    background-image: url('../../../assets/cta.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    // background-attachment: fixed;
    width: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      /* El gradiente: empieza sólido, se aclara al medio y se vuelve muy transparente al final */
      background: linear-gradient(
        to right, 
        rgba($bg-dark, 0.35) 100%   /* to-background/40 */
        );
    }
    
    .container {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        padding: 0 $space-2;

        @include desktop(){
            padding: 0;
        }
    }
    
    .content {
        position: relative;
        width: 100%;
        z-index:200;
        color: $white;

        .text {
            margin-top: $space-2;
        }

        .cta {
            margin-top: $space-3;
            color: $foreground;
            display: flex;
            flex-direction: column;
            gap: $space-1;
            
            @include tablet(){
                align-items: center;
                flex-direction: row;
            }
        }
    }
    
}
