.card {
    background-color: $white;
    padding: $space-3;
    border-radius: $radius-sm;
    margin-bottom: $space-2;
    transition: $transition-normal;
    height: 100%;

    &:hover {
        transform: translateY(-20px);
        box-shadow: $shadow-md;
    }

    
    @include desktop(){
        margin: 0;
    }
    
    .iconContainer {
        transition: $transition-normal;
        background-color: $color-primary-muted;
        color: $color-primary;
        width: fit-content;
        padding: .4rem;
        border-radius: $radius-sm;
    }


    .title {
        margin-top: $space-2;
    }

    .desc {
        margin-top: $space-1;
    }

    .cta {
        margin-top: $space-1;
    }

    .desc {
        color: $foreground-muted;
        font-size: $font-sm;
    }
}